// FONTS
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300;400;700&display=swap');

$main-font : 'Josefin Slab';

// COLORS
$light-green: #ACE1AF;
$medium-green: #00A86B;
$dark-green: #00573F;